[submodule "deps/uv"]
	path = deps/uv
	url = git://github.com/joyent/libuv.git
[submodule "deps/parson/parson"]
	path = deps/parson/parson
	url = git://github.com/kgabis/parson.git
[submodule "deps/hiredis/hiredis"]
	path = deps/hiredis/hiredis
	url = git@github.com:redis/hiredis.git
