tools/gyp
*.json
!package.json
*.sh
build/
out/
npm/bud
npm/bud.exe
npm-debug.log
node_modules/

# ringbuffer
deps/ringbuffer/tools/gyp
deps/ringbuffer/out

# Text editors swap files/backups
*.swp
*~
